
/* Your CSS Code here. */
.b{
	padding:50px;
	background-color:lightblue;
	width:300px;
	border:15px solid blue;
	margin:20px;
}

/* Your CSS Code here. */
.bb{
	padding:50px;
	background-color:lightblue;
	width:300px;
	border:15px solid blue;
	margin:20px;
}